body{
    padding: 0px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: left;
}
.rodape {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.left{
    text-align: left;
}
